:root {
  /* ### Neutral */
  --white: hsl(0, 100%, 100%);
  --light-50: hsl(231, 100%, 99%);
  --neutral-100: hsl(218, 100%, 97%);
  --neutral-200: hsl(229, 24%, 87%);
  --grey-500: hsl(231, 11%, 63%);

  /* ### Primary */
  --Blue-950: hsl(213, 96%, 18%);
  --Purple-600: hsl(243, 100%, 62%);
  --tyanBlue-300: hsl(228, 100%, 84%);
  --lightBlue-200: hsl(206, 94%, 87%);
  --Red-500: hsl(354, 84%, 57%);

  --sect-boder-r: 12px;
}

/* ===== body ===== */
* {
  box-sizing: border-box;
}

body {
  background-color: var(--neutral-100);
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  margin: 0;
}

/* ===== container ===== */

#container {
  display: flex;
  flex-direction: column;
  background: url("./assets/images/bg-sidebar-mobile.svg") no-repeat top/100%;
  min-height: 100dvh;
}

/* ===== sidebar ===== */

#sidebar {
  padding-block: 2rem;
}

#steps {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.step {
  display: flex;
  list-style-type: none;
  counter-increment: num;
  flex: 0.13;
  align-items: center;
  justify-content: center;
}

.step::before {
  content: counter(num);
  width: 32px;
  height: 32px;
  font-weight: 500;
  border-radius: 50%;
  border: 2px solid var(--white);
  text-align: center;
  align-content: center;
  color: var(--white);
}

.step_descript {
  color: var(--white);
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 1rem;
  display: none;
}

/* ====== form ======= */
form {
  height: 100%;
  display: grid;
  grid-template-rows: auto max-content;
  flex: 1;
}

.sections_container {
  padding: 0 1rem;
}

.section {
  padding: 2rem 1.5rem;
  background-color: var(--white);
  border-radius: var(--sect-boder-r);
  display: none;
}

.section_heading {
  margin-bottom: 2rem;

  h1 {
    color: var(--Blue-950);
    margin: 0;
  }

  p {
    color: var(--grey-500);
    line-height: 1.4;
  }
}

/* ====== personal info section ======= */
.label-error_cont {
  display: flex;
  justify-content: space-between;
}

.label-error_cont label {
  line-height: 1.7;
  font-weight: 500;
  font-size: 0.7rem;
  color: var(--Blue-950);
  margin-bottom: 0;
}

.personal_info input {
  display: block;
  padding: 0.5rem;
  width: 100%;
  height: 40px;
  border: 1px solid var(--neutral-200);
  border-radius: 4px;
  margin-bottom: 1rem;
}

.personal_info input:active,
.personal_info input:focus {
  outline-color: var(--Purple-600);
}

/* ======= plans info section ======= */
.plans_container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.plan {
  display: flex;
  border: 1px solid var(--grey-500);
  border-radius: 8px;
  padding: 1rem;
  gap: 1rem;
}

.plan input[type="radio"] {
  display: none;
}

.plan:has(input[type="radio"]:checked) {
  border-color: var(--Purple-600);
  background-color: var(--neutral-100);
}

.plan:active {
  border-color: var(--Purple-600);
}

.plan h2 {
  font-weight: 500;
  font-size: 1.1rem;
  color: var(--Blue-950);
  margin: 0;
}

.plan .subscription_price {
  display: block;
  font-weight: normal;
  color: var(--grey-500);
  margin-block: 0.5rem 0;
}

.plan .promo {
  margin: 0.5rem 0 0;
  font-size: small;
  color: var(--Blue-950);
  font-weight: 500;
  display: none;
}

.billing {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  align-items: center;
  background-color: var(--neutral-100);
  border-radius: 8px;
  color: var(--grey-500);
}

.billing p {
  margin: 0;
  padding: 0.5rem 1rem;
}

/* ====== plan toggle btn ====== */
.switch {
  height: 22px;
  width: 46px;
  display: inline-block;
  position: relative;
}

.switch input {
  height: 0;
  width: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: var(--Blue-950);
  transition: 0.3s;
  inset: 0;
  border-radius: 11px;
}

.slider::before {
  position: absolute;
  content: "";
  inset: 3px;
  margin: auto 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--white);
  transition: 0.3s;
}

.switch input:checked + .slider::before {
  transform: translateX(24px);
}

/* ===== Add-ons section ====== */
.add-on_feature {
  display: flex;
  padding: 0.7rem 1rem;
  border: 1px solid var(--grey-500);
  margin-bottom: 1rem;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  gap: 1rem;
  font-size: 0.85rem;
}

.add-on_feature input {
  margin: 0;
  height: 18px;
  width: 18px;
}

.add-on_feature:has(input:checked) {
  border-color: var(--Purple-600);
  background-color: var(--neutral-100);
}

.add-on_feature input[type="checkbox"]:checked {
  accent-color: var(--Purple-600);
}

.add-on_feature:active {
  border-color: var(--Purple-600);
}

.add-on_description {
  letter-spacing: -0.8px;
  flex: 1;
}

.add-on_description h2 {
  color: var(--Blue-950);
  font-size: 1rem;
  font-weight: 500;
  margin: 0 0 0.3rem;
}

.add-on_description p {
  margin: 0;
  color: var(--grey-500);
}

.add-on_price {
  color: var(--Purple-600);
}

/* ======= finishing-up section ======= */
.summary {
  background-color: var(--neutral-100);
  padding: 1rem;
  border-radius: 8px;
}
.summary hr {
  margin-block: 1rem;
}

.plan_type {
  color: var(--Blue-950);
  font-weight: bold;
  margin-block: 0 0.5rem;
}

.plan_amount {
  color: var(--Blue-950);
  font-weight: bold;
}

.change_plan,
.add-on__package,
.summary_total {
  color: var(--grey-500);
}

.change_plan:active,
.change_plan:hover {
  color: var(--Purple-600);
}

.add-on__package {
  margin: 0;
}

.add-on__amount {
  color: var(--Blue-950);
}

.plan-type_cont,
.total_cont,
.add-on_cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total_cont {
  padding: 1.5rem 1rem 0;
}

.summary_total {
  margin-block: 0;
}

.total_cont .total_price {
  color: var(--Purple-600);
  font-size: 1rem;
}

/* ====== appreciation "last-section" ====== */
.appreciation {
  text-align: center;
  align-content: center;

  div {
    margin: 3rem 0;
  }
}

.appreciation p {
  line-height: 1.5;
}

/* ====== buttons and container ====== */
.btn_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--white);
  margin: 1rem 0 0;
  padding: 1.2rem;
}

button {
  height: 40px;
  width: 100px;
  border: none;
  cursor: pointer;
}

.prev_btn {
  background-color: transparent;
  color: var(--grey-500);
  font-weight: 700;
}

.prev_btn:active {
  color: var(--Blue-950);
}

.next_btn {
  background-color: var(--Blue-950);
  color: var(--white);
  border-radius: 0.25rem;
  grid-column: 2/-1;
  justify-self: flex-end;
}

.next_btn.submit_btn {
  background-color: var(--Purple-600);
}

.next_btn:active {
  background-color: hsl(213, 93%, 26%);
}

.next_btn.submit_btn:active {
  background-color: hsla(243, 100%, 62%, 0.7);
}

/* ===== copyright ===== */
.attribution {
  font-size: 11px;
  text-align: center;
  padding-bottom: 2px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

/* ===== mobile and tablet design ===== */
@media (min-width: 48rem) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-size: 0.875rem;
  }

  #container {
    flex-direction: row;
    background-color: var(--white);
    background-image: none;
    padding: 1rem 0 1rem 1rem;
    margin: auto;
    height: clamp(32rem, 65vw, 34.5rem);
    width: clamp(736px, 92vw, 900px);
    border-radius: var(--sect-boder-r);
    min-height: unset;
  }

  #sidebar {
    width: 30%;
    min-width: 230px;
    background: url("./assets/images/bg-sidebar-desktop.svg") no-repeat
      center/cover;
    border-radius: var(--sect-boder-r);
  }

  #steps {
    flex-direction: column;
    padding: 0 0 0 1.5rem;
  }

  .step {
    justify-content: unset;
    padding: 0.7rem 0;
  }

  .step_descript {
    display: block;
  }

  .step_descript span {
    color: var(--neutral-200);
    display: block;
    font-size: smaller;
  }

  /* Form and all sections */
  form {
    padding-inline: 4rem;
    width: 70%;
  }

  .sections_container {
    padding: 0;
  }

  .section {
    padding: 2rem 0;
    /* transform: translateY(100%);
  transition: transfrom 2s; */
  }

  .label-error_cont label {
    margin-bottom: 0.3rem;
    line-height: 1;
  }

  .personal_info input {
    border-radius: 8px;
    margin-bottom: 1rem;
  }

  .plans_container {
    flex-direction: row;
    justify-content: space-between;
  }

  .plan {
    display: unset;
    width: 30%;
    padding: 0.7rem;
  }

  .plan:hover {
    border-color: var(--Purple-600);
  }

  .plan h2 {
    margin-block: 1.5rem 0;
  }

  .add-on_feature:hover {
    border-color: var(--Purple-600);
  }

  .add-on_description {
    letter-spacing: normal;
  }

  .add-on_description h2 {
    font-size: 0.9rem;
  }

  .appreciation {
    height: 100%;

    div {
      margin: 0;
    }
  }

  .btn_container {
    margin-block: 0 1rem;
    padding: 0;
  }

  .next_btn {
    border-radius: 0.5rem;
  }

  .prev_btn:hover {
    color: var(--Blue-950);
  }

  .next_btn:hover {
    background-color: hsl(213, 93%, 26%);
  }

  .next_btn.submit_btn:hover {
    background-color: hsla(243, 100%, 62%, 0.7);
  }
}

@media (min-width: 53rem) {
  form {
    padding-inline: 5.5rem;
  }
}

/* ====== useable class ====== */
.active__section {
  display: block;
  /* transform: translateX(0);
  transition: transform 1s; */
}

.personal_info input.error {
  border-color: var(--Red-500);
}

.error-msg {
  color: var(--Red-500);
  font-size: 0.7rem;
  font-weight: 500;
  margin: 0;
}

.active__billing {
  color: var(--Blue-950);
  font-weight: 500;
}

.active__step::before {
  background-color: var(--lightBlue-200);
  color: var(--Blue-950);
  border-color: var(--lightBlue-200);
}

.promo.show_promo {
  display: block;
}
